.game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: url("src/blue-oil-drops-on-the-water-surface.jpg")
    
}

